.searchbar {
    position: absolute !important;
    height: 90px;
}
.searchbar > div {
    position: fixed;
    width: 30vw;
    left: 85%;
    bottom: 50%;
    transform: translate(-50%, -50%);

}
.searchbar > div > input {
    width: 80%;
    background-color: rgba(0,0,0,0);
    color: var(--default-color);
    font-size: 14pt;

    border: none;
    border-bottom: 2px solid var(--accent-color2);
    opacity: 0.3;
    transition: .3s;
}
.searchbar > div > input::placeholder {
    color: var(--accent-color2);
}
.searchbar > div > input:hover {
    opacity: 1;
}
.searchbar > div > input:focus {
    outline: none;
    opacity: 1;
}


@media only screen and (max-height: 700px) {
	.searchbar{
        display: none;
    }
}